/* Resets */ 

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body, h1, h2, p {
  margin: 0;
}

input, button {
  border: none;
  font-family: inherit;
}

button {
  background: none;
  padding: 0;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}


/* Typography */ 

body {
  font-family: "Inter", sans-serif;
}

.title, .nav-item {
  color: white;
}
.title {
  font-size: 2.7rem;
  font-weight: 800;
}
.nav-item {
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0;
}

.no-data-text {
  color: #DFDDDD;
  font-size: 1.125rem;
  font-weight: bold;
}

.searchbar-input, .searchbar-btn {
  font-size: 0.875rem;
  font-weight: 500;
}

.searchbar-input {
  color: #6B7280;
}

.searchbar-btn {
  color: #374151;
  background: #F9FAFB;
}

/* Base */ 

:root {
  --container-min-height: 780px;
  --header-height: 208px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgray;
}
.container {
  width: 550px;
  min-height: var(--container-min-height); 
}


/* ==========
  Components 
============*/ 

/* Header */ 
.header {
  background: url("../images/movies-bg.avif");
  background-color: rgba(14, 14, 14, 0.8);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: 0% 23.5%; 
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 42px;
  position: relative;
}

/* Search Bar */ 
.searchbar {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  width: 80%;
}

.searchbar-input {
  border-radius: 6px 0 0 6px;
  border: 1px solid #D1D5DB;
  padding: 0.8em 1em 0.8em 3em;
  flex: 1;
}

.search-icon {
  color: #9CA3AF;
  align-self: center;
  position: absolute;
  left: 0.8em;
  margin-top: 4px;
}

.searchbar-btn {
  border-radius:0 6px 6px 0;
  border: 1px solid #D1D5DB;
  padding: 0 3em;
}


/* Movies */ 
#movies {
  min-height: calc(var(--container-min-height) - (var(--header-height)));
  background: white;
  padding: 3em;
}

.no-data-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: inherit;
}

/* Movie Card */ 
.movie-card {
  display: flex;
  border-bottom: 2px solid #E5E7EB;
  padding: 1.3em 0;
  gap: 1.5em;
  align-items: center;
}
.movie-img {
  height: 148px;
  width: 100px;
}

.movie-text-header, .movie-text-info {
  display: flex;
  align-items: center;
}
.movie-text {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  /* display: grid;
  grid-template-areas: 
    "title title star rating ."
    "time genre genre genre add-to-btn"
    "description description description description description"; */
  /* grid-template-columns: auto auto auto auto auto; */
  /* grid-template-columns: 85.0156px 51.8125px 51.5156px 52.5px 89.8281px */
}
.movie-title {
  /* grid-area: title; */
  /* grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2; */
}
.star {
  /* grid-area: star; */
  /* grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2; */
  /* align-self: center; */
  margin: 0 0.5em 0 0.8em;
}
.movie-rating {
  /* grid-area: rating; */
  /* grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2; */
  /* align-self: center; */

}
.movie-time {
  /* grid-area: time; */
  /* grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3; */
  /* width: 50px; */

}
.movie-genre {
  /* grid-area: genre; */
  /* grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3; */
  margin: 0 3em 0 2em;
}
.movie-add-to-watchlist-btn {
  /* grid-area: add-to-btn; */
  /* grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3; */

}
.movie-description {
  grid-area: description;
  /* grid-column-start: 1;
  grid-column-end: 6; */
}

.movie-title {
  font-size: 1.125rem;
  font-weight: 500;
}

.star {
  color: #FEC654;
}

.movie-rating, .movie-time, .movie-genre, .movie-add-to-watchlist-btn {
  font-size: 0.75rem;
  font-weight: 400;
  color: #111827;
}

.plus-btn {

}
.movie-description {
  font-size: 0.875rem;
  font-weight: 400;
  color: #6B7280;
}


/* font weight guide: 
100	Thin (Hairline)
200	Extra Light (Ultra Light)
300	Light
400	Normal (Regular)
500	Medium
600	Semi Bold (Demi Bold)
700	Bold
800	Extra Bold (Ultra Bold)
900	Black (Heavy)
950	Extra Black (Ultra Black)

*/ 